/*dibujo.css*/
html {
    background-color:lavenderblush;
}

body { 
    margin: 5em 
    
}

h1 {
    text-align:center;
}

h2 {
    color:darkslateblue;
}

h3 {
    color:dodgerblue;
}

p {
    text-align: justify; 
    font-family: sans-serif; 
    font-size: 16px;
}

div {
    text-align: center;
}

mark {
    background-color:aqua;
}

.pintura {
    background-color:lightcoral; 
    color:indigo; 
    margin: 20px; 
    padding: 20px;
}
